/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí van tus resets y estilos custom */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* … */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Tus estilos de .navbar, button, .container, etc. */

@layer components {
  h1 {
    @apply text-black;
  }
}
